* I_F.REDO.CH.CONFIG Created 05 JUL 12 at 01:40PM by t24bbcr9/TEM.RMONDR.01
*      PREFIX[REDO.CH.CONFIG]
         EQU REDO.CH.CONFIG.VALTIMEPIN TO 1,   RedoChConfig_Valtimepin TO 1,
             REDO.CH.CONFIG.VALTIMEPWD TO 2,   RedoChConfig_Valtimepwd TO 2,
           REDO.CH.CONFIG.PROFILE.TYPE TO 3,   RedoChConfig_ProfileType TO 3,
               REDO.CH.CONFIG.MENU.COS TO 4,   RedoChConfig_MenuCos TO 4,
         REDO.CH.CONFIG.USER.SMS.GROUP TO 5,   RedoChConfig_UserSmsGroup TO 5,
               REDO.CH.CONFIG.OVERRIDE TO 6,   RedoChConfig_Override TO 6,
          REDO.CH.CONFIG.RECORD.STATUS TO 7,   RedoChConfig_RecordStatus TO 7,
                REDO.CH.CONFIG.CURR.NO TO 8,   RedoChConfig_CurrNo TO 8,
               REDO.CH.CONFIG.INPUTTER TO 9,   RedoChConfig_Inputter TO 9,
              REDO.CH.CONFIG.DATE.TIME TO 10,  RedoChConfig_DateTime TO 10,
             REDO.CH.CONFIG.AUTHORISER TO 11,  RedoChConfig_Authoriser TO 11,
                REDO.CH.CONFIG.CO.CODE TO 12,  RedoChConfig_CoCode TO 12,
              REDO.CH.CONFIG.DEPT.CODE TO 13,  RedoChConfig_DeptCode TO 13,
           REDO.CH.CONFIG.AUDITOR.CODE TO 14,  RedoChConfig_AuditorCode TO 14,
        REDO.CH.CONFIG.AUDIT.DATE.TIME TO 15,  RedoChConfig_AuditDateTime TO 15
