* I_F.APAP.H.INSURANCE.CLASS.POLICY Created 17 AUG 11 at 03:48PM by r09fc/CHERRERA1
*      PREFIX[INS.CL.POL]
  EQU INS.CL.POL.CLASS.POLICY.DESC TO 1,   ApapHInsuranceClassPolicy_ClassPolicyDesc TO 1,
             INS.CL.POL.FIELD.NAME TO 2,   ApapHInsuranceClassPolicy_FieldName TO 2,
             INS.CL.POL.FIELD.BEHA TO 3,   ApapHInsuranceClassPolicy_FieldBeha TO 3,
           INS.CL.POL.FIELD.VALUES TO 4,   ApapHInsuranceClassPolicy_FieldValues TO 4,
         INS.CL.POL.NAME.BEHAVIOUR TO 5,   ApapHInsuranceClassPolicy_NameBehaviour TO 5,
            INS.CL.POL.RESERVED.20 TO 6,   ApapHInsuranceClassPolicy_Reserved20 TO 6,
            INS.CL.POL.RESERVED.19 TO 7,   ApapHInsuranceClassPolicy_Reserved19 TO 7,
            INS.CL.POL.RESERVED.18 TO 8,   ApapHInsuranceClassPolicy_Reserved18 TO 8,
            INS.CL.POL.RESERVED.17 TO 9,   ApapHInsuranceClassPolicy_Reserved17 TO 9,
            INS.CL.POL.RESERVED.16 TO 10,  ApapHInsuranceClassPolicy_Reserved16 TO 10,
            INS.CL.POL.RESERVED.15 TO 11,  ApapHInsuranceClassPolicy_Reserved15 TO 11,
            INS.CL.POL.RESERVED.14 TO 12,  ApapHInsuranceClassPolicy_Reserved14 TO 12,
            INS.CL.POL.RESERVED.13 TO 13,  ApapHInsuranceClassPolicy_Reserved13 TO 13,
            INS.CL.POL.RESERVED.12 TO 14,  ApapHInsuranceClassPolicy_Reserved12 TO 14,
            INS.CL.POL.RESERVED.11 TO 15,  ApapHInsuranceClassPolicy_Reserved11 TO 15,
            INS.CL.POL.RESERVED.10 TO 16,  ApapHInsuranceClassPolicy_Reserved10 TO 16,
             INS.CL.POL.RESERVED.9 TO 17,  ApapHInsuranceClassPolicy_Reserved9 TO 17,
             INS.CL.POL.RESERVED.8 TO 18,  ApapHInsuranceClassPolicy_Reserved8 TO 18,
             INS.CL.POL.RESERVED.7 TO 19,  ApapHInsuranceClassPolicy_Reserved7 TO 19,
             INS.CL.POL.RESERVED.6 TO 20,  ApapHInsuranceClassPolicy_Reserved6 TO 20,
             INS.CL.POL.RESERVED.5 TO 21,  ApapHInsuranceClassPolicy_Reserved5 TO 21,
             INS.CL.POL.RESERVED.4 TO 22,  ApapHInsuranceClassPolicy_Reserved4 TO 22,
             INS.CL.POL.RESERVED.3 TO 23,  ApapHInsuranceClassPolicy_Reserved3 TO 23,
             INS.CL.POL.RESERVED.2 TO 24,  ApapHInsuranceClassPolicy_Reserved2 TO 24,
             INS.CL.POL.RESERVED.1 TO 25,  ApapHInsuranceClassPolicy_Reserved1 TO 25,
              INS.CL.POL.LOCAL.REF TO 26,  ApapHInsuranceClassPolicy_LocalRef TO 26,
               INS.CL.POL.OVERRIDE TO 27,  ApapHInsuranceClassPolicy_Override TO 27,
          INS.CL.POL.RECORD.STATUS TO 28,  ApapHInsuranceClassPolicy_RecordStatus TO 28,
                INS.CL.POL.CURR.NO TO 29,  ApapHInsuranceClassPolicy_CurrNo TO 29,
               INS.CL.POL.INPUTTER TO 30,  ApapHInsuranceClassPolicy_Inputter TO 30,
              INS.CL.POL.DATE.TIME TO 31,  ApapHInsuranceClassPolicy_DateTime TO 31,
             INS.CL.POL.AUTHORISER TO 32,  ApapHInsuranceClassPolicy_Authoriser TO 32,
                INS.CL.POL.CO.CODE TO 33,  ApapHInsuranceClassPolicy_CoCode TO 33,
              INS.CL.POL.DEPT.CODE TO 34,  ApapHInsuranceClassPolicy_DeptCode TO 34,
           INS.CL.POL.AUDITOR.CODE TO 35,  ApapHInsuranceClassPolicy_AuditorCode TO 35,
        INS.CL.POL.AUDIT.DATE.TIME TO 36,  ApapHInsuranceClassPolicy_AuditDateTime TO 36
