* I_F.MULTI.TRANSACTION.SERVICE Created 29 DEC 10 at 05:11PM by apap/JEEVA
*      PREFIX[REDO.MTS]
          EQU REDO.MTS.TELLER.ID TO 1,   MultiTransactionService_TellerId TO 1,
              REDO.MTS.OPERATION TO 2,   MultiTransactionService_Operation TO 2,
       REDO.MTS.TRANSACTION.DATE TO 3,   MultiTransactionService_TransactionDate TO 3,
              REDO.MTS.TOTAL.AMT TO 4,   MultiTransactionService_TotalAmt TO 4,
        REDO.MTS.SETTLEMENT.TYPE TO 5,   MultiTransactionService_SettlementType TO 5,
         REDO.MTS.ARRANGEMENT.ID TO 6,   MultiTransactionService_ArrangementId TO 6,
          REDO.MTS.NO.OF.CHEQUES TO 7,   MultiTransactionService_NoOfCheques TO 7,
               REDO.MTS.RESIDUAL TO 8,   MultiTransactionService_Residual TO 8,
          REDO.MTS.RESIDUAL.MODE TO 9,   MultiTransactionService_ResidualMode TO 9,
        REDO.MTS.SETTLEMENT.MODE TO 10,  MultiTransactionService_SettlementMode TO 10,
               REDO.MTS.CASH.AMT TO 11,  MultiTransactionService_CashAmt TO 11,
             REDO.MTS.CHEQUE.AMT TO 12,  MultiTransactionService_ChequeAmt TO 12,
             REDO.MTS.NET.AMOUNT TO 13,  MultiTransactionService_NetAmount TO 13,
           REDO.MTS.PAYMENT.MODE TO 14,  MultiTransactionService_PaymentMode TO 14,
           REDO.MTS.PAYMENT.TYPE TO 15,  MultiTransactionService_PaymentType TO 15,
                 REDO.MTS.ARR.ID TO 16,  MultiTransactionService_ArrId TO 16,
               REDO.MTS.CURRENCY TO 17,  MultiTransactionService_Currency TO 17,
                 REDO.MTS.OD.AMT TO 18,  MultiTransactionService_OdAmt TO 18,
               REDO.MTS.OD.BILLS TO 19,  MultiTransactionService_OdBills TO 19,
        REDO.MTS.TRANSACTION.AMT TO 20,  MultiTransactionService_TransactionAmt TO 20,
     REDO.MTS.ACCOUNT.SETTLEMENT TO 21,  MultiTransactionService_AccountSettlement TO 21,
                 REDO.MTS.STATUS TO 22,  MultiTransactionService_Status TO 22,
              REDO.MTS.CHEQUE.NO TO 23,  MultiTransactionService_ChequeNo TO 23,
         REDO.MTS.TRANSACTION.ID TO 24,  MultiTransactionService_TransactionId TO 24,
           REDO.MTS.VERSION.NAME TO 25,  MultiTransactionService_VersionName TO 25,
            REDO.MTS.RESERVED.10 TO 26,  MultiTransactionService_Reserved10 TO 26,
             REDO.MTS.RESERVED.9 TO 27,  MultiTransactionService_Reserved9 TO 27,
             REDO.MTS.RESERVED.8 TO 28,  MultiTransactionService_Reserved8 TO 28,
             REDO.MTS.RESERVED.7 TO 29,  MultiTransactionService_Reserved7 TO 29,
             REDO.MTS.RESERVED.6 TO 30,  MultiTransactionService_Reserved6 TO 30,
             REDO.MTS.RESERVED.5 TO 31,  MultiTransactionService_Reserved5 TO 31,
             REDO.MTS.RESERVED.4 TO 32,  MultiTransactionService_Reserved4 TO 32,
             REDO.MTS.RESERVED.3 TO 33,  MultiTransactionService_Reserved3 TO 33,
             REDO.MTS.RESERVED.2 TO 34,  MultiTransactionService_Reserved2 TO 34,
             REDO.MTS.RESERVED.1 TO 35,  MultiTransactionService_Reserved1 TO 35,
         REDO.MTS.AMT.TO.BE.PAID TO 36,  MultiTransactionService_AmtToBePaid TO 36,
          REDO.MTS.REMAINDER.AMT TO 37,  MultiTransactionService_RemainderAmt TO 37,
              REDO.MTS.VERSION.1 TO 38,  MultiTransactionService_Version1 TO 38,
              REDO.MTS.VERSION.2 TO 39,  MultiTransactionService_Version2 TO 39,
              REDO.MTS.VERSION.3 TO 40,  MultiTransactionService_Version3 TO 40,
            REDO.MTS.RESERVED.20 TO 41,  MultiTransactionService_Reserved20 TO 41,
            REDO.MTS.RESERVED.19 TO 42,  MultiTransactionService_Reserved19 TO 42,
            REDO.MTS.RESERVED.18 TO 43,  MultiTransactionService_Reserved18 TO 43,
            REDO.MTS.RESERVED.17 TO 44,  MultiTransactionService_Reserved17 TO 44,
            REDO.MTS.RESERVED.16 TO 45,  MultiTransactionService_Reserved16 TO 45,
            REDO.MTS.RESERVED.15 TO 46,  MultiTransactionService_Reserved15 TO 46,
            REDO.MTS.RESERVED.14 TO 47,  MultiTransactionService_Reserved14 TO 47,
            REDO.MTS.RESERVED.13 TO 48,  MultiTransactionService_Reserved13 TO 48,
            REDO.MTS.RESERVED.12 TO 49,  MultiTransactionService_Reserved12 TO 49,
            REDO.MTS.RESERVED.11 TO 50,  MultiTransactionService_Reserved11 TO 50,
              REDO.MTS.LOCAL.REF TO 51,  MultiTransactionService_LocalRef TO 51,
               REDO.MTS.OVERRIDE TO 52,  MultiTransactionService_Override TO 52,
          REDO.MTS.RECORD.STATUS TO 53,  MultiTransactionService_RecordStatus TO 53,
                REDO.MTS.CURR.NO TO 54,  MultiTransactionService_CurrNo TO 54,
               REDO.MTS.INPUTTER TO 55,  MultiTransactionService_Inputter TO 55,
              REDO.MTS.DATE.TIME TO 56,  MultiTransactionService_DateTime TO 56,
             REDO.MTS.AUTHORISER TO 57,  MultiTransactionService_Authoriser TO 57,
                REDO.MTS.CO.CODE TO 58,  MultiTransactionService_CoCode TO 58,
              REDO.MTS.DEPT.CODE TO 59,  MultiTransactionService_DeptCode TO 59,
           REDO.MTS.AUDITOR.CODE TO 60,  MultiTransactionService_AuditorCode TO 60,
        REDO.MTS.AUDIT.DATE.TIME TO 61,  MultiTransactionService_AuditDateTime TO 61
